Repository LOUSANPANG/fe-workflow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, markdownlint -- --fix

.lintstagedrc:

{
  "*.vue": ["prettier --write .", "eslint  --fix"],
  "*.{js,jsx,ts,tsx}": ["prettier --write .", "eslint  --fix"],
  "./content/docs/*.md": ["markdownlint -- --fix"]
}

:memo: docs(md): up router
  composables/useDocsInfo.ts
Due: prettier --write ., eslint --fix

:memo: docs(md): up webpack build
  content/docs/202.build-webpack.md
  content/docs/77.opt-webpack.md
Due: markdownlint -- --fix

:package: build(other): up vscode set
  .vscode/settings.json
Due: none

:memo: docs(md): up webpack build
  content/docs/202.build-webpack.md
Due: markdownlint -- --fix

:memo: docs(md): up docs
  content/docs/202.build-webpack.md
  content/docs/33.changelog.md
  content/docs/34.git-skills.md
  content/docs/51.var.md
Due: markdownlint -- --fix

refactor: build Nuxt@3.x app
  .vscode/extensions.json
  .vscode/global.code-snippets
  .vscode/settings.json
Due: none

config: add app.baseURL
  nuxt.config.ts
Due: prettier --write ., eslint --fix

config: deploy web
  nuxt.config.ts
  package.json
Due: prettier --write ., eslint --fix

config: deploy site
  nuxt.config.ts
Due: prettier --write ., eslint --fix

config: deploy site
  .github/workflows/deploy.yml
  package.json
Due: none

config: deploy site
  .github/workflows/deploy.yml
Due: none

config: deploy web site
  nuxt.config.ts
Due: prettier --write ., eslint --fix

config: deploy site
  composables/useNavigation.ts
  nuxt.config.ts
Due: prettier --write ., eslint --fix

feat: add env BASE_URL
  .env.development
  .env.production
Due: none

feat: remove local env files
  .gitignore
Due: none

feat: add assets aside img
  assets/img/aside/design.png
  assets/img/aside/document.png
  components/navigation/NavigationAside.vue
Due: prettier --write ., eslint --fix

feat: up baseURL
  nuxt.config.ts
  package.json
Due: prettier --write ., eslint --fix

feat: add link ico
  composables/useSetAppHead.ts
Due: prettier --write ., eslint --fix

config: test steps build
  .github/workflows/deploy.yml
Due: none

feat: add link rel icon
  composables/useSetAppHead.ts
Due: prettier --write ., eslint --fix

feat: up ico
  public/fe-workflow/favicon.ico
Due: none

docs: up docs
  content/docs/400.standard-dev/3.mock.md
  content/docs/500.stanard-buiild/2.webpack.md
  content/docs/700.standard-optimize/5.webpack.md
Due: none

docs: update husky md
  content/docs/300.standard-commit/1.husky-lintstaged.md
Due: none

config: use husky lint
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

docs: add deploy server\applet\app
  content/docs/800.standard-test/1.unit.md
  content/docs/800.standard-test/2.integration.md
  content/docs/800.standard-test/3.e2e.md
  content/docs/900.standard-deploy/1.server.md
  content/docs/900.standard-deploy/15.nginx.md
  content/docs/900.standard-deploy/16.docker.md
  content/docs/900.standard-deploy/17.jenkins.md
  content/docs/900.standard-deploy/18.gitlab.md
  content/docs/900.standard-deploy/19.github-actions.md
  content/docs/900.standard-deploy/2.applet.md
  content/docs/900.standard-deploy/20.other.md
  content/docs/900.standard-deploy/3.app.md
Due: none

fix: doc navigation root url
  components/navigation/NavigationToc.vue
Due: prettier --write ., eslint --fix

add: deploy express
  content/docs/900.standard-deploy/14.node.md
Due: none

add: deploy server
  content/docs/900.standard-deploy/1.server.md
Due: none

config: up nuxt@3.12.1
  package.json
  pnpm-lock.yaml
Due: none

test: toc click href
  components/navigation/NavigationToc.vue
Due: prettier --write ., eslint --fix

test: toc hash url
  components/navigation/NavigationToc.vue
Due: prettier --write ., eslint --fix

test: log header links
  components/AppHeader.vue
Due: prettier --write ., eslint --fix

chore: environment variable
  components/navigation/NavigationToc.vue
  composables/useSetAppHead.ts
  nuxt.config.ts
Due: prettier --write ., eslint --fix

chore: environment variable
  components/AppHeader.vue
  components/navigation/NavigationToc.vue
  composables/useSetAppHead.ts
  nuxt.config.ts
Due: prettier --write ., eslint --fix

config: up package
  package.json
  pnpm-lock.yaml
Due: none

docs: up docs
  content/docs/20.design.md
  content/docs/900.standard-deploy/1.server.md
Due: markdownlint -- --fix
