Repository LOUSANPANG/fe-workflow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, markdownlint -- --fix

.lintstagedrc:

{
  "*.vue": ["prettier --write .", "eslint  --fix"],
  "*.{js,jsx,ts,tsx}": ["prettier --write .", "eslint  --fix"],
  "./content/docs/*.md": ["markdownlint -- --fix"]
}

add: feat concept doc
  content/concept/300.js/2.cjs-esm.md
Due: none

config: add compatibilityDate
  nuxt.config.ts
Due: prettier --write ., eslint --fix

feat: add useDevice hook
  composables/useDevice.ts
Due: prettier --write ., eslint --fix

docs: up doc
  content/concept/300.js/1.event-loop.md
  content/concept/300.js/2.cjs-esm.md
  content/concept/400.browser/1.rendering-principle.md
Due: none

chore: up pack
  package.json
  pnpm-lock.yaml
Due: none

docs: up html
  content/docs/400.standard-dev/0.html.md
Due: none

fix: sass2.0 warn
  nuxt.config.ts
Due: prettier --write ., eslint --fix

docs: up image size
  content/docs/20.design.md
Due: markdownlint -- --fix

feat: eslint format
  uno.config.ts
Due: prettier --write ., eslint --fix

chore: up pak
  package.json
  pnpm-lock.yaml
Due: none

docs: up webapp design
  content/docs/20.design.md
Due: markdownlint -- --fix

docs: up doc
  content/docs/700.standard-optimize/2.js.md
  content/docs/700.standard-optimize/6.webpack.md
Due: none

docs: up docs
  content/concept/300.js/1.es5.md
  content/concept/300.js/3.event-loop.md
  content/concept/300.js/5.cjs-esm.md
  content/concept/300.js/7.design-pattern.md
  content/docs/900.standard-deploy/1.server.md
Due: none

style: 修改样式
  assets/style/base.css
  components/content/Image.vue
Due: prettier --write ., eslint --fix

docs: up docs
  content/concept/300.js/2.prototype-chain.md
  content/docs/2000.toolbox/3.tv.md
  public/content/concept/js_prototype_chain.png
Due: none

style: img components
  assets/style/base.css
  components/content/Image.vue
Due: prettier --write ., eslint --fix

docs: up git docs
  content/docs/300.standard-commit/4.git.md
Due: none

config: remove pnpm v
  package.json
Due: none

docs: up dpc
  content/docs/900.standard-deploy/3.app.md
Due: none

style: up base style
  assets/style/base.css
Due: none

docs: up app docs
  content/docs/900.standard-deploy/3.app.md
Due: none

docs: up docs
  content/docs/600.standard-monitor/1.buried.md
  content/docs/700.standard-optimize/6.webpack.md
Due: none

docs: up docs app
  content/docs/900.standard-deploy/3.app.md
Due: none

docs: up devops
  content/docs/900.standard-deploy/16.devops.md
Due: none

config: up pkg
  package.json
  pnpm-lock.yaml
Due: none

config: fix npx
  .husky/pre-commit
Due: none

docs: up app
  content/docs/900.standard-deploy/3.app.md
Due: none

docs: server dns
  content/docs/900.standard-deploy/1.server.md
Due: none

fix: migrate nuxt content v2 api to v3
  app.vue
  components/AppHeader.vue
  components/navigation/NavigationAside.vue
  composables/useOrganizeAside.ts
  content.config.ts
  content/concept/100.html/.navigation.yml
  content/concept/200.css/.navigation.yml
  content/concept/300.js/.navigation.yml
  content/concept/400.browser/.navigation.yml
  content/concept/500.network/.navigation.yml
  content/concept/600.cli/.navigation.yml
  content/concept/700.project/.navigation.yml
  content/docs/100.standard-directory/.navigation.yml
  content/docs/1000.standard-analyse/.navigation.yml
  content/docs/200.standard-code/.navigation.yml
  content/docs/2000.toolbox/.navigation.yml
  content/docs/300.standard-commit/.navigation.yml
  content/docs/400.standard-dev/.navigation.yml
  content/docs/500.stanard-buiild/.navigation.yml
  content/docs/600.standard-monitor/.navigation.yml
  content/docs/700.standard-optimize/.navigation.yml
  content/docs/800.standard-test/.navigation.yml
  content/docs/900.standard-deploy/.navigation.yml
  error.vue
  nuxt.config.ts
  pages/concept/[...slug].vue
  pages/docs/[...slug].vue
  pnpm-workspace.yaml
  types/navigation.ts
Due: prettier --write ., eslint --fix

fix: drop pnpm-workspace.yaml to unblock vercel pnpm 9 install
  .gitignore
  pnpm-workspace.yaml
Due: none
